name: CI/CD Atomic Habits Tracker

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run flake8
        run: flake8

      - name: Run tests
        run: pytest --cov

  deploy:
    needs: test-and-lint
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PR_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin develop
            docker compose pull
            docker compose up -d --build
